{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<h1>TODO APP</h1>
<hr>
<form action="/" method="POST">
  <div class = 'todo-list' >
    <label>Title</label>
    <input type= "text" name = "submit_button" class ="form-control">
    </div>
  <button class="favorite styled"
        type="submit">
    Add to list
  </button>
</form>
<form action="/" method="POST">
  <ul style="list-style: none" >
    {% for card in ls%}
    <li> 
    <input type= "submit" name = "complete_button" class = "form-control" value =  "{{ card['title'] }}"  > 
    </li>
    {% endfor %}
  </ul>
</form>
{% endblock %}

